
@{
    ViewBag.Title = "Welcome";
}

<h2>Welcome</h2>

<p>Welcome, @ViewBag.newuser.FirstName</p>
<p>
    Last Name: @ViewBag.newuser.LastName <br />
    Email: @ViewBag.newuser.UserEmail <br />
    Password: @ViewBag.newuser.Password <br />
    Gender: @ViewBag.newuser.Gender <br />
    Class: @ViewBag.newuser.UserClass <br />
</p>